.footer{
    width:100%;
    color:var(--color-white);
}

.footer-container{
   display: flex;
    background-color:#383838;
    max-width:100%;
    margin:auto;
    padding:60px 50px;
    display:grid;
    grid-template-columns:
    2fr
    1fr
    1fr
    1fr;
    gap:60px;
}

.footer-col h2{
    display:flex;
    align-items:center;
    gap:10px;
    margin-bottom:20px;
    font-size:1.8rem;
    color: var(--color-white);
}

.footer-logo{
    color:var(--primary-color);
}

.footer-col h3{
    margin-bottom:20px;
    font-size:1.2rem;
}

.footer-col p{
    line-height:1.8;
    color:var(--color-white);
}

.footer-col ul{
    list-style:none;
    padding:0;
    margin:0;
}

.footer-col li{
    margin-bottom:15px;
    display:flex;
    align-items:center;
    gap:10px;
    color:var(--color-white);
    cursor:pointer;
    transition:.2s;
}


.footer-social{
    display:flex;
    gap:18px;
    font-size:1.5rem;
}

.footer-social svg{
    cursor:pointer;
    transition:.25s;
}

.footer-social svg:hover{
    transform:scale(1.2);
    color:var(--color-white);
}

.footer-bottom{
    border-top:1px solid rgba(255,255,255,.15);
    background-color: #383838;;
    text-align:center;
    padding:20px;
    color:var(--color-white);
}

@media(max-width:900px){

.footer-container{

    grid-template-columns:1fr;

    text-align:center;
}

.footer-col h2{

    justify-content:center;
}

.footer-col li{

    justify-content:center;
}

.footer-social{

    justify-content:center;
}

}

@media (max-width: 600px) {
  .footer-container {
    flex-direction: column-reverse;
    text-align: center;
    gap: var(--spacing-sm);
    padding: var(--spacing-md) var(--spacing-lg);
  }

  .footer-links {
    gap: var(--spacing-md);
  }
}
