.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-surface);
}

.navbar-bg {
  background-color: var(--color-white);
}

.footer {
  background-color: var(--color-surface);
}

.app-main-content {
  flex-grow: 1;
}
