.app-layout {
  background-color: var(--color-surface);
}

.navbar-bg {
  background-color: var(--color-white);
}

.app-main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
