
.navbar-bg{
    background-color: var(--primary-green);
    font-size: 1.5rem;
    height: 8rem;
    padding: 1rem 1rem;
}

.navbar{
    color: var(--primary-white);
    margin: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.navbar-section{
    display: flex;
    align-items:center;
    
}

.brand{
    display: flex; 
    flex-direction: row; 
    justify-content: flex-start; 
}
.brand-text{
    color: #C72600;
    margin: auto;
    text-align: center;
   
}


.menu-icon{
    color: var(--primary-white);
    font-size: 1.5rem;
}

.cart{
    display: flex;
    align-items: center;
    color: var(--primary-white);
    font-size: 1.25rem;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.cart-count{
    margin: 0 0 0 1rem;
    color: var(--primary-white);
    background-color: transparent;
}
.link-no-style {
    text-decoration: none;
    color: inherit;
}